---
import { Image } from 'astro:assets';
import Nav  from  '../components/Nav.astro';
import Link from '../components/Link.astro';
import { createPath } from '../utils/paths';
import { SITE_CONFIG, DEFAULT_NAVIGATION } from '../utils/config';
import type { LinkProps } from '../types/index.ts';

export interface Props {
    title?: string;
    links?: LinkProps[];
}
const { 
  title = SITE_CONFIG.title,
  links = DEFAULT_NAVIGATION
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {title && <title>{title}</title>}
        <!-- stylesheet -->
        <link rel="stylesheet" href={createPath("styles.css")} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
        rel="stylesheet"
        />
        <!-- favicon -->
        <link rel="icon" type="image/png" sizes="180x180" href={createPath("apple-touch-icon.png")} />
        <link rel="icon" type="image/png" sizes="16x16" href={createPath("favicon-16x16.png")} />
        <link rel="icon" type="image/png" sizes="32x32" href={createPath("favicon-32x32.png")} />
        <!-- Allow pages to inject head elements -->
        <slot name="head" />
    </head>

    <body>
        <Nav links={links}/>
        <main>
            <slot />
        </main>

        <footer class="footer">
            <div class="container footer-content">
                <div class="footer-column">
                    <h3>Sybil</h3>
                    <p>
                    Transformamos procesos empresariales mediante automatización
                    inteligente y humanos.
                    </p>
                </div>
                <div class="footer-column">
                    <h4>Enlaces</h4>
                    <ul>

                        <Link label="Metodología" href="#metodologia" />
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Contacto</h4>
                    <p>Email: <a href={`mailto:${SITE_CONFIG.email}`}>{SITE_CONFIG.email}</a></p>
                    <p>Teléfono: <a href={`tel:${SITE_CONFIG.phone}`}>{SITE_CONFIG.phone}</a></p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Sybil. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>
